.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin: 0 8px;
  vertical-align: text-bottom;
}
